// colors
$yellow: #ffba49;
$black: #000;
$light-orange: #ff5c00;
$blue: #021193;
$dark-orange: #db3022;
$very-dark-orange: #d10505;
$light-yellow: #ffa113;

//font i.e Sen
@font-face {
    font-family: sen;
    src: url(../../assets//font/Sen-Regular.ttf);
}

$sen: sen;